@tailwind base;
@tailwind components;
@tailwind utilities;

/* _____BASE_____  */
@layer base {
  /* Headings */
  .h {
    @apply text-neutrals-1300 font-kanit font-medium tracking-tight;
  }

  .h1 {
    @apply text-40 leading-11 mb-4 lg:text-64 lg:leading-17 lg:mb-6;
  }

  .h2 {
    @apply text-32 leading-38px lg:text-56 lg:leading-15;
  }

  .h3 {
    @apply text-24 leading-30px lg:text-48 lg:leading-13;
  }

  .h4 {
    @apply text-20 leading-26px lg:text-40 lg:leading-11;
  }

  .h5 {
    @apply text-18 leading-6 lg:text-32 lg:leading-9;
  }

  .h6 {
    @apply text-16 leading-6 lg:text-24 lg:leading-30px;
  }

  /* Paragraphs */
  .p {
    @apply text-16 leading-26px font-light tracking-tight text-neutrals-1100 lg:text-18 lg:leading-7;
  }
}

/* _____COMPONENTS_____  */
@layer components {
  /* Buttons */
  .btn {
    @apply inline-flex justify-center items-center gap-[10px] py-4 px-7 font-kanit text-18 leading-18px cursor-pointer tracking-tight transition-colors ease-in-out duration-300 lg:px-9 lg:text-20 lg:leading-5;
  }

  .btn-primary {
    @apply bg-prim-500 border border-prim-500 text-neutrals-1400 shadow-btnPrimary hover:bg-prim-400 hover:border-prim-400;
  }

  .btn-primary svg {
    @apply text-neutrals-1400;
  }

  .btn-secondary {
    @apply bg-transparent border text-neutrals-1300 border-neutrals-1300 shadow-btnBlack !delay-0 hover:!bg-neutrals-1300 hover:!text-neutrals-100;
  }

  /* .btn-secondary span, .btn-secondary svg {
    @apply text-neutrals-1300;
  }

  .btn-secondary:hover span, .btn-secondary:hover > svg {
    @apply !text-neutrals-100 !delay-0;
  } */

  /* Section */
  .section {
    @apply py-[72px] bg-neutrals-100 lg:py-[120px] hd:py-0;
  }

  /* Labels */
  .label {
    @apply inline-block text-14 leading-14px py-[6px] px-3 mb-2 lg:mb-3 lg:text-16 lg:leading-4;
  }

  .label.default {
    @apply text-neutrals-1200 px-0 py-0 mb-2 lg:mb-3 lg:text-18 lg:leading-18px;
  }

  .label.light {
    @apply text-neutrals-1400 bg-prim-300;
  }

  .label.dark {
    @apply text-prim-500 bg-neutrals-1400;
  }

  /* __SWIPERS__ */
  .swiper-pagination .swiper-pagination-bullet {
    @apply w-2 h-2 bg-neutrals-500 rounded-none !m-0 opacity-100;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    @apply w-2 h-2 bg-neutrals-1300 rounded-none !m-0 opacity-100;
  }

  .swiper-button.swiper-button-disabled {
    @apply !bg-neutrals-400 !border-neutrals-400 shadow-none;
  }

  .swiper-button.swiper-button-disabled svg {
    @apply !text-neutrals-1100;
  }
}

/* _____UTILITIES_____  */
@layer utilities {
  /* Animation */
  *:not(.btn, .btn > svg, path, .btn > span) {
    @apply transition-all ease-in-out duration-300 box-border;
  }

  *::selection {
    @apply text-neutrals-1400 bg-prim-200;
  }

  /* __SCROLLBAR__ */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* __GRADIENT__ */
  .blog-gradient {
    background: linear-gradient(
      180deg,
      rgba(110, 124, 135, 0.32) 0%,
      rgba(110, 124, 135, 0.4) 0.01%,
      rgba(64, 72, 79, 0.8) 50%,
      #2e3338 100%
    );
  }

  /* __TEXT-BLOCKS__ */
  .text-blocks .h3 {
    @apply lg:text-32 lg:leading-38px;
  }
}
